.detailIndex {
    padding-bottom: 40px;
}
.view {
    display: flex;
    margin: 25px;
    flex-direction:column;
}
.sectionHeader {
    display: flex;
    margin: 10px;
    flex-direction:column;
    padding-top: 10px;
}
.title1 {
    font-size: x-large;
    color: '#333333';
}
.title2 {
    font-size: large;
    color: '#666666';
}